<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{posts.user.user_name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Update Post:</h3>

    <form class="form">
      <div class="form-group">
        <label for="post_title">Post Title:</label>
        <input class="form-input" type="text" id="post_title" name="post_title" value="{{posts.post_title}}"/>
      </div>
      <div class="form-group">
        <label for="post_body">Post Body:</label>
        <textarea class="form-input" id="post_body" name="post_body" >{{posts.post_body}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary update-btn" data-id="{{posts.id}}" >Update</button>
        <button type="submit" class="btn btn-primary delete-btn" data-id="{{posts.id}}">Delete</button>
        <button type="submit" class="btn btn-primary cancel-btn" data-id="{{posts.id}}">Cancel</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/editPost.js"></script>